@import './colors.less';

#frontpage-container {
  // Grid general settings
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  align-content: center;
  text-align: center;
  border: none;

  @media @mobile {
    margin: 0;
  }

  h2 {
    text-align: center;
    color: #333;
    grid-column: ~'1 / 13';
    margin: 2em 0 1em;

    @media @desktop, @wide {
      font-size: 2em;
    }

    @media @tablet, @mobile {
      font-size: 1.5em;
    }
  }

  // Hot sector on the frontpage
  .hot-row {
    // Grid of 12 frame colums
    grid-column: ~'1 / 13';
    grid-row-start: 1;
    margin-top: 40px;

    // Grid declaration for sub items, 2 frame columns
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    border: none;

    .hot-first-card {
      grid-column: ~'1 / 3';
      grid-row: ~'1 / 3';

      @media @mobile {
        grid-column: ~'1 / -1';
      }
    }

    .hot-card {
      grid-column: ~'3 / 4';
      margin-left: 20px;

      @media @mobile {
        grid-column: ~'1 / -1';
        margin: 0;
      }

      &:first-child {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-top: 10px;
      }
    }
  }

  .frontpage-row {
    grid-column: ~'1 / 13';
    margin-bottom: 30px;

    // Grid declaration for sub items, 3 frame columns
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media @mobile {
      grid-template-columns: 1fr;
    }

    h3,span {
      color: #000;
    }
  }

  .frontpage-job .image {
    border-top: 1px solid @color-grey;
    background-color: transparent;
  }
}
