.profile-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.5em;
  border: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.profile-container .info-container {
  grid-column: ~'1 / 7';
  grid-row: ~'1 / 2';
  background-image: linear-gradient(@color-grey, #fff);
  justify-content: space-between;

  .user {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    padding: 1em;
    font-size: x-large;

    .email {
      font-size: .75em;
    }
  }

  .amiv {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    font-size: large;
    padding: 1em;
  }
}

.profile-container .groups {
  grid-column: ~'4 / 7';
  grid-row: ~'2 / 3';

  @media @mobile {
    grid-column: ~'1 / 7';
    grid-row: ~'3 / 4';
  }

  > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .list {
    padding: 0 1em 1em;
    max-height: 13em;
    overflow-y: auto;

    .group-item {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-template-areas: 'text expiry button';
      grid-gap: .5em;
      align-items: center;

      &:first-of-type {
        margin-top: 1em;
      }

      .name {
        grid-area: text;
      }

      .expiry,.confirm {
        grid-area: expiry;
      }

      .enroll,.withdraw,.cancel {
        grid-area: button;
      }
    }

    .no-items {
      text-align: center;
      padding: 3em 1em;
    }
  }
}

.profile-container .settings {
  grid-column: ~'1 / 4';
  grid-row: ~'2 / 3';

  @media @mobile {
    grid-column: ~'1 / 7';
    grid-row: ~'2 / 3';
  }

  .newsletter,.sessions {
    padding: 1em;
  }

  .rfid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1em;
    padding: 0 1em 1em;

    .infobox {
      grid-column: ~'1 / 3';
    }
  }

  .change-password {
    padding: 0 1em 1em;
  }

  .public-groups {
    grid-column: ~'4 / 7';
    grid-row: ~'4 / 5';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
  }
}
