@import './colors.less';

.studydoc-documents {
  width: calc(100% + 8px);
  position: relative;
  left: -4px;

  a {
    display: inline-block;
    color: #000;
    border-radius: 4px;
    padding: 4px;

    &:not(:last-child) {
      margin-right: 1em;
    }

    &:hover {
      background-color: @color-grey;
    }
  }

  span {
    display: inline-block;
    position: relative;
    bottom: -2px;
  }

  span.name {
    margin-left: .25em;
  }

  span.size {
    color: @color-dark-grey;
    margin-left: 1em;
  }
}

.studydoc-header {
  padding: 1em;

  .title {
    display: block;
    width: 100%;
    font-size: 1em;

    h3 {
      font-size: 1.2em;
      margin: 0;
      display: inline-block;

      span:before {
        display: inline-block;
        content: '\2013';
        padding: 0 .5em;
      }
    }

    span {
      font-weight: normal;
    }
  }

  .properties {
    width: 100%;
    margin-top: 1em;
  }

  .property {
    display: inline-block;
    padding-bottom: 1em;

    @media @mobile {
      padding-bottom: .25em;
    }

    &:after {
      content: '/';
      color: @color-red;
      margin: 0 1em;

      @media @mobile {
        content: ',';
        color: #000;
        margin: 0 .5em 0 0;
      }
    }

    .name:after {
      content: ':';
      padding-right: .5em;
    }

    &:last-of-type:after {
      content: '';
      margin: 0;
    }
  }

  .studydoc-documents {
    @media @mobile, @tablet {
      display: none;
    }
  }
}

.studydoc-content .studydoc-documents {
  display: none;
  padding: 16px;
  background-color: @color-grey;

  @media @mobile, @tablet {
    display: block;
  }
}

#studydoc-list {
  #head-style {
    text-align: right;
  }

  #row-style {
    height: 2em;
    background-color: #fdfdfd;
    border: 1px solid @color-grey;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  h2 {
    display: inline;
    text-align: center;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-container > div {
    padding: 0 5px 5px 0;
    text-align: left;
  }

  div.list-item {
    display: grid;
    grid-template-columns: auto 25% 15%;
    grid-row-gap: .5em;
    padding: .5em;

    &:first-of-type {
      font-weight: bold;
      border-bottom: solid 2px #000;
    }

    #title-style {
      margin-top: auto;
      margin-bottom: auto;
    }

    #author-style {
      margin-top: auto;
      margin-bottom: auto;
    }

    #course_year-style {
      margin-top: auto;
      margin-bottom: auto;
      text-align: right;
    }
  }

  div.list-style {
    background-color: #808080;
  }
}
